:root {
    --color-1: #053b3a;
    --color-2: #f4b000;
    --color-3: #336a40;
    --color-4: #353535;
    --color-5: #170080;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    /* background-color: #b8b8b8; */
    background-color: var(--color-4);
}

.container {
    width: 1080px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header img {
    width: 100%;
    height: 300px;
}

nav ul {
    list-style-type: none;
    /* background-color: #9E3600; */
    background-color: var(--color-1);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul .active {
    background-color: #E59C29;
    color: #000000;
}

nav ul li > a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: ivory;
}

nav ul li > a:hover {
    background-color: #E59C29;
    color: #000000;
}

main {
    padding: 10px 10px;
}

footer {
    background-color: var(--color-1);
    color: white;
    text-align: center;
    padding: 7px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;

}

/* my class */
/* text */
.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

/* button */
.btn-submit {
    background-color: #03913e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
}

.btn-submit:hover {
    background-color: #04692e;
}

.btn-reset {
    background-color: #b18b0e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
}

.btn-reset:hover {
    background-color: rgb(107, 61, 0);
}

.btn-back {
    background-color: #0a1bb1;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
}

.btn-back:hover {
    background-color: #081485;
}

.btn-tambah {
    background-color: #03913e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
}

.btn-tambah:hover {
    background-color: #04692e;
}

.btn-edit {
    background-color: #b18b0e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-edit:hover {
    background-color: #92730b;
}

.btn-delete {
    background-color: #a10d0d;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-delete:hover {
    background-color: #6e0909;
}

/* form */
.form {
    margin: 20px 0;
}

.form .table {
    background-color: #c5c9c7;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
}

.form-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* table */
.table-crud {
    margin: 10px 0;
    width: 100%;
}

.table-crud .header {
    background-color: #c5c9c7;
}

.table-crud tr {
    border-bottom: 1px solid black;
}

.table-crud td {
    /* padding: 0 1%; */
    border-bottom: 1px solid rgb(75, 74, 74);
    margin-left: 1%;
}